/* Noto Sans Load */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Web Font initialized */

html, html body {
  font-family: 'Noto Sans KR'!important;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

.header nav.navbar {
  border-bottom: none;
  background-color: #61625a;
  background-image: none;
  color: #fff;
  height: 80px;
}

.header nav.navbar > .container {
  margin-top:15px;
  background-color: #61625a;
}

.header ul.nav li a {
  color: #fff;
}

.header ul.nav li a:hover, .header ul.nav li a:active {
  color: #aaa;
}

/* Page Home */

.page_home .home_main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./images/bg_home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.home_main_text {
  text-align: center;
  margin-top:20%;
}

.home_main_text h3 {
  font-size: 2.7em;
}

/* 민우 수정 시작 */

.page_home .home_main_text a.btn_red.btn-lg {
	width:40%;
}

/* 민우 수정 끝 */

/* Page Payment */

.page_payment {
  margin-top: 0;
  padding-top: 0;
  background-image: url(./images/bg_ptrn.png);
  background-repeat: repeat;
  position: absolute;
  height:100%;
  width:100%;
}

.page_payment > .container > .row > div.col-xs-12.col-md-4 {
  margin-top: 20%;
}

.panel-body {
  height: 170px;
}

p.has_small {
  margin-bottom: 0;
}

p.text_small {
  font-size: 0.5em;
}

.page_payment input {
  margin-top: 15px;
}

/* Page about-tst */

.page_about_tst {
  padding-top:80px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
}

.page_about_tst .jumbotron {
  background-image:url(images/bn_test.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height:250px;
}

.page_about_tst .about_tst_main {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* page about-company */

.page_about_company {
  width:100%;
  height:auto;
	padding-top:4%;
}

.page_about_company .jumbotron {
	background-image: url(images/bn_company.png);
	width: 100%;
	height:250px;
	background-repeat: no-repeat;
	background-position: center;
}

.container + .jumbotron {
	background-image: url(images/bn_company2.png);
	width: 100%;
	height:250px;
	background-repeat: no-repeat;
	background-position: center;
}

.up_mark {
	background-image: url(images/img_up_mark.png);
	width:100px;
	height:100px;
	background-repeat: no-repeat;
	margin:0 auto;
}

.down_mark {
	background-image: url(images/img_down_mark.png);
	width:100px;
	height:100px;
	background-repeat: no-repeat;
	margin:0 auto;
}
.page_about_company iframe {
	margin: 40px auto;
}

/* Page 404 */

div.page_404 {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page_404 > .container {
  width: 100%;
  margin-top: 20%;
  text-align: center;
}

/* Background */

.bg_ptrn {
  background-image:url(images/bg_ptrn.png);
  background-repeat: repeat;
}

/* Components */
#root .panel-body {
  height: 100%;
}

/* text */

.txt_basic {
	text-align: center;
	font-size: 20px;
}

.txt_basic p{
	margin-bottom: 1px;
}

/* Buttons */

button.navbar-toggle.collapsed {
  border: none;
}

a.btn_red.btn.btn-lg {
  margin-top: 20px;
  width:50%;
  border: none;
  background-color: #98182f;
  background-image: none;
  color: #fff;
  text-shadow: none;
  border-radius: 0;
}

a.btn_red.btn.btn-lg:hover {
  background-color: #7f182f;
}

.navbar-inverse button.navbar-toggle.collapsed:hover, .navbar-inverse button.navbar-toggle.collapsed:active {
  color: #aaa;
  background-color: rgba(0,0,0,0);
  border:none;
}

.container .btn {
    color:#fff;
    background-color: #98182f;
    font-size:18px;
    font-weight: 400;
    padding:14px 50px;
		border-radius:10px;
		margin-top:50px;
}
.btn + .btn {
   	margin-left: 30px;
}

/* button hover, active 됐을 때  */

.container .btn:hover, .container .btn :active, .container .btn:focus {
    color:#fff;
    background-color: #7f182f;
    border-color: none;
}

/* Footer */

.footer nav.navbar-fixed-bottom {
  border: none;
}

.footer nav > .container {
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

@media screen and (max-height: 768px) {
  div.home_main_text {
    margin-top: 10%;
  }
}